#--------------------------------------------
#--------------------------------------------
# Configuration file for Stweeler
#--------------------------------------------
#--------------------------------------------

#tweeter credentials
consumer_key: 'XYZ'
consumer_secret: 'XYZ'
oauth_token: 'XYZ'
oauth_token_secret: 'XYZ'

#--------------------------------------------
#--------------------------------------------

#storage properties
storage_folder: '/home/szuhg2/data'
#storage_folder: '.'

#--------------------------------------------
#--------------------------------------------

#bot options
#15 (follow_number) follows each 15 min. (follow_frequency) i.e., 1440 follows per day
follow_number: 15
#per time interval (minutes)
follow_frequency: 15

#will unfollow until the follower ratio is: 
follower_ratio: 0.30
#unfollow will occur every N hours:
unfollow_frequency: 48

#--------------------------------------------
#--------------------------------------------
