<div id="bots">
  <!--style="height: 400px; min-width: 310px"-->
</div>

<script>
  $(function () {

    Highcharts.setOptions({
      global: {
        useUTC: false
      }
    });

    $.getJSON("botsjson", function (data) {
      $('#bots').highcharts({

        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },

        title: {
          text: 'Stweeler identified bots vs. non-bots'
        },

	subtitle: {
	  text: 'Source: Stweeler data'
	},

        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
		fontSize: 16
              }
            }
          }
        },

        series: [{
          name: 'Percentage',
          colorByPoint: true,
          data: [{
            name: 'Bots',
            y: data.bots
          }, {
            name: 'Non-bots',
            y: data.notbots
          }]
        }]
      });
    });
  });

</script>
