<div id="tokens">
    <!--style="height: 400px; min-width: 310px"-->
</div>

<script>
    $(function () {

        $.getJSON('urljson', function (data) {

            // create the chart
            $('#tokens').highcharts({
                chart: {
                    type: 'column'
                },

                title: {
                    text: 'URL click distribution'
                },

		subtitle: {
		    text: 'Source: Stweeler data'
		},

		xAxis: {
                    type: 'category',
                    title: {
                        text: 'Number of clicks'
                    }
        	},
        
		yAxis: {
            	    min: 0,
            	    title: {
                	text: 'URLs'
            	    }
        	},

		navigator: {
			enabled: false
		},

		scrollbar: {
			enabled: false
		},

		series: [{
			name: 'URLs',
			colorByPoint: true,
			data: [{
				name: 'upto 9', // < 10
				y: data.tokens00,
			}, {
				name: 'upto 19', // >= 10
				y: data.tokens10,
			}, {
				name: 'upto 29', // >= 20
				y: data.tokens20,
			}, {
				name: 'upto 39', // >= 30
				y: data.tokens30,
			}, {
				name: 'upto 49', // >= 40
				y: data.tokens40,
			}, {
				name: 'over 50', // >= 50
				y: data.tokens50,
			}]
		}]
            });
        });
    });
</script>
