<div id="tokens">
    <!--style="height: 400px; min-width: 310px"-->
</div>

<script>
    $(function () {

        $.getJSON('urljson', function (data) {

            // create the chart
            $('#tokens').highcharts({
                chart: {
                    type: 'column'
                },

                title: {
                    text: 'URL click distribution'
                },

		subtitle: {
		    text: 'Source: Stweeler data'
		},

		xAxis: {
			type: 'category'
        	},
        
		yAxis: {
            	    min: 0,
            	    title: {
                	text: 'Clicks'
            	    }
        	},

		navigator: {
			enabled: false
		},

		scrollbar: {
			enabled: false
		},

		series: [{
			name: 'Clicks',
			colorByPoint: true,
			data: [{
				name: '< 10',
				y: data.tokens00,
			}, {
				name: '>= 10',
				y: data.tokens10,
			}, {
				name: '>= 20',
				y: data.tokens20,
			}, {
				name: '>= 30',
				y: data.tokens30,
			}, {
				name: '>= 40',
				y: data.tokens40,
			}, {
				name: '>= 50',
				y: data.tokens50,
			}]
		}]
            });
        });
    });
</script>
