<div id="tokens">
    <!--style="height: 400px; min-width: 310px"-->
</div>

<script>
    $(function () {
        $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=aapl-v.json&callback=?', function (data) {

            // create the chart
            $('#tokens').highcharts('StockChart', {
                chart: {
                    alignTicks: false
                },

                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: 'Stweeler clicks per URL'
                },

                navigator : {
                    enabled : false
                },

                scrollbar : {
                    enabled : false
                },

                series: [{
                    type: 'column',
                    name: 'Clicks',
                    data: data,
                    dataGrouping: {
                        units: [[
                            'URL', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]
                        ]]
                    }
                }]
            });
        });
    });
</script>
