<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="row">
  <div class="col-lg-7">

    <%= render "graphs/clicks" %>

  </div>
  <div class="col-lg-5">

    <%= render "graphs/bots" %>

  </div>
</div>

<%= render "graphs/theme" %>