



<div class="jumbotron">
  <div class="container">

  	<img src="LOGO-strech.png" width="300"/>
	   </div>
</div>
 <div class="container">
	  <p>
	  	Your choice for trusthworthy url redirection.
	  	<br>
	  	TNYurl is hosted by a research group that studies the behavior of social network interactions.
	  	<br>
	  	We do not provide or disclose your data to third-parties. Your traffic is safe with us.
	  </p>
	  <br><br>

	    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>




</div>