<div class="jumbotron">
  <div class="container">

  	<img src="LOGO-strech.png" width="300"/>
	   </div>
</div>

 <div class="container">
	  <p>
	  	tnyurl is hosted by a research group that studies bot traffic on the Web by posting tweets with shortened URLs on Twitter.
		<br>
		This is done by using a URL shortener service that redirects URLs to their origin. The URL shortener service runs on a web server and collects click timestamp, web browser or app name (also known as agent), IP exposed by web browser or app.
	  	<br>
	  	No personal data is collected. No data is shared or disclosed.
	  </p>
	  <br><br>

	    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>




</div>

