



<div class="jumbotron">
  <div class="container">

  	<h1>Welcome to tnyurl.uk!</h1>
	  <p>
	  	This website is part of a research work studying the behavior of URL redirection usage in social networks.
	  </p>

	    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- MainAds -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4169581461120336"
	     data-ad-slot="3276275205"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

  </div>
</div>


