<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div id="container" style="height: 400px; min-width: 310px"></div>

<script>
$(function () {

    Highcharts.setOptions({
        global : {
            useUTC : false
        }
    });

    // Create the chart
    $('#container').highcharts('StockChart', {
        chart : {
            events : {
                load : function () {

                    // set up the updating of the chart each second
                    var series = this.series[0];

                    alert(series.name)

                    setInterval(
                        function () {

                            console.log("new cycle")
                            console.log((new Date()).getTime())

                            $.ajax({
                                url:   "getjson/i",
                                dataType:   "json", 
                                success:    function(data){
                                    //alert("Got JSON"); // this statement doesn't show up
                                    $.each(data.data, function(entryIndex, entry){
                                        console.log([entry.ts,entry.count])
                                        series.addPoint([entry.ts,entry.count], true, true);
                                    });
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                                }  
                            });
                            
	               

                            /*$.getJSON("getjson/i", function(data) {
			console.log("got json")
                                        console.log(JSON.stringify(data))								
                                      $.each(data, function(i,item) {
			     console.log(item)
                                            series.addPoint(item, true, true);
                                       })
                            })*/                        
                    }, 10000);
                }
            }
        },

        rangeSelector: {
            buttons: [{
                count: 1,
                type: 'minute',
                text: '1M'
            }, {
                count: 5,
                type: 'minute',
                text: '5M'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false,
            selected: 0
        },

        title : {
            text : 'Live random data'
        },

        exporting: {
            enabled: true
        },

        series : [{
            name : 'Random data',
            data : [[0,0],[0,1]]
            // data : (function () {

            //     console.log("new cycle")

                            
                            
            //                 var data = $.ajax({
            //                     url:   "getjson/i",
            //                     dataType:   "json", 
            //                     success:    function(data){
            //                         //alert("Got JSON"); // this statement doesn't show up
            //                         $.each(data.data, function(entryIndex, entry){
            //                             //console.log(entry)
            //                             var data = []
            //                             data.push([entry.ts,entry.count]);

            //                         });
            //                         return data;
            //                     },
            //                     error: function(XMLHttpRequest, textStatus, errorThrown) { 
            //                         alert("Status: " + textStatus); alert("Error: " + errorThrown); 
            //                     }  
            //                 });
            //                 return data;

            //    /* // generate an array of random data
            //     var data = [], time = (new Date()).getTime(), i;

            //     for (i = -999; i <= 0; i += 1) {
            //         data.push([
            //             time + i * 1000,
            //             0
            //         ]);
            //     }
            //     return data;*/
            //}())
        }]
    });

});
</script>


<!--
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div id="container" style="height: 400px; min-width: 310px"></div>

<script>
$(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Clicks over time'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Number of clicks'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'USD to EUR',
                data: <%= @data %>
            }]
    });
});
</script>
-->
