<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column',
            events: {
              load : function () {

                var series = this.series[0];

                function getData(location) {
                        $.getJSON(location, function(data) {
                                $.each(data.data, function(i,item) {
                                  shift = series.data.length > 100;
                                  series.addPoint([item[0],item[1]], true, shift);
                                })
                        })
                        .done(function() {
                            console.log( "second success" );
                        })
                        .fail(function(d, textStatus, error) {
                            console.error("getJSON failed, status: " + textStatus + ", error: "+error)
                        })
                        .always(function() {
                            console.log( "complete" );
                        })

                setTimeout(getData, 1000, "getjson4url"); //Dont lower this to not overload the server
                }
            getData("getjson4url");
              }
            }
        },
        title: {
            text: 'Clicks per URL'
        },
        subtitle: {
            text: 'Source: Stweeler data'
        },
        xAxis: {
            //crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Clicks'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'URLs',
            data: []

        }]
    });
});
</script>

